

@media all and (max-width: 670px) {

    .footer-content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

	}
	.logo-site {
		margin: 0;
	}

	li {
		font-size: 12px;
	}

	.text-contactus{
		font-size: 12px;
	}
	.contactus {
		width: 50%;
	}

	.information{
		width: 50%;
	}

	.downloadapp {
		width: 50%;
	}

	.mediapartner {
		width: 50%;
	}

	.dapps img {
    	width: 150px;
    	margin: 5px;
	}

	.mediapartner img {
		width: 110px;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.copy-right {
	    width: 100%;
	}

	.logo-partner-lain img {
		width: 50px;
		padding: 2px;
	}



}